* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.imag-sec {
  height: 50vh;
  width: 40vw;
  display: block;
  margin-left: 25%;
  margin-top: 10%;
  background-image: url(image1.jpg);
  background-position: center;
  background-size: cover;
}
button {
  height: 10vmin;
  width: 40vw;
  margin-left: 25%;
  font-size: 4vmin;
  border: none;
  display: block;
  background: linear-gradient(90deg, #ed1c24, #f1d302);
  color: white;
}
button:hover {
  border: 1px solid black;
}
button:active {
  font-size: 4.5vmin;
}
