* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}
body {
  height: 100vh;
}
nav {
  width: 100%;
  height: 8vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6vw;
  position: fixed;
  top: 0;
  z-index: 999;
}
.sidebar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav a {
  height: 8vh;
  width: 8vw;
  line-height: 8vh;
  text-align: center;
  text-decoration: none;
  color: black;
  margin-left: 20px;
}
nav a:first-child {
  width: 16vw;
  margin-right: auto;
  font-weight: 700;
  font-style: oblique;
  font-size: 1.6vw;
}
.username {
  margin-left: auto;
  color: rgb(0, 110, 255);
}

a:hover {
  background-color: rgba(0, 0, 255, 0.164);
}
.menu-button,
.close-button {
  display: none;
}
#side-check {
  display: none;
}
main {
  display: flex;
  height: 80vh;
  margin-top: 5vmin;
}
.quotes,
.hero {
  width: 50vw;
  height: 100%;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}
.hero::-webkit-scrollbar {
  display: none;
}
.hero-img {
  height: 100%;
  width: 100%;
  background-color: transparent;
  background-image: url(heroimg.png);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  cursor: pointer;
}
.hero-img:hover {
  animation: orbit 1.5s linear infinite;
}
@keyframes orbit {
  0%,
  100% {
    transform: rotate(0deg) translateY(10px) rotate(0deg);
  }

  70% {
    transform: rotate(360deg) translateY(10px) rotate(-360deg);
  }
  80% {
    transform: scaleX(0.8) scaleY(1.1);
  }
  90% {
    transform: scaleX(1) scaleY(1);
  }
}

.qoute-1 {
  width: 45vw;
  font-size: 5vw;
  margin-top: 5vmin;
}
.quote-2 {
  width: 45vw;
  font-size: 5vw;
  color: rgba(0, 132, 255, 0.925);
}
.quote-3 {
  width: 45vw;
  font-size: 1.6vw;
}
.quotes {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.book-now {
  background-color: #37718E;
  color: #fff;
  align-self: center;
  height: 8vh;
  width: 20vw;
  margin-top: 10px;
  font-size: 1.8vw;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: 0.7s ease-in-out;
}
.book-now:hover {
  transform: rotate(-8deg) scale(1.2, 1.6);
}

.book-now:active {
  font-size: 2vw;
}

.achievement {
  background-color: #90C2E7;
  width: 100%;
  height: 15vmin;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 2vw;
}
.achievement p {
  text-align: center;
}

.services {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2%;
}

.service-list {
  width: 50%;
}
.cart-view {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.services-name {
  height: 65%;
  width: 100%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 2%;
}
.services-name div {
  height: 8vmin;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5vw;
}
.name {
  width: 40%;
  display: flex;
  align-items: center;
}
.price {
  width: 20%;
}
.add {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
}
#btn,
#btn2,
#btn3,
#btn4,
#btn5,
#btn6 {
  display: none;
}
.add-btn,
.remove-btn {
  border: none;
  background-color: #fff;
  cursor: pointer;
}
.remove-btn {
  color: red;
  display: none;
}
#btn:checked ~ .remove-btn {
  display: block;
}
#btn:checked ~ .add-btn {
  display: none;
}
#btn2:checked ~ .remove-btn {
  display: block;
}
#btn2:checked ~ .add-btn {
  display: none;
}
#btn3:checked ~ .remove-btn {
  display: block;
}
#btn3:checked ~ .add-btn {
  display: none;
}
#btn4:checked ~ .remove-btn {
  display: block;
}
#btn4:checked ~ .add-btn {
  display: none;
}
#btn5:checked ~ .remove-btn {
  display: block;
}
#btn5:checked ~ .add-btn {
  display: none;
}
#btn6:checked ~ .remove-btn {
  display: block;
}
#btn6:checked ~ .add-btn {
  display: none;
}
.service-list h1 {
  font-size: 3vw;
}
.info {
  color: #1c7293;
  display: flex;
  align-items: center;
  gap: 1%;
  padding: 10px;
}
.cart-view {
  padding-left: 5%;
}

.index {
  width: 80%;
  display: flex;
  text-align: center;
}
.cart {
  border: 1px solid grey;
  width: 80%;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
}
.cart-list {
  display: flex;
}
.sno {
  width: 20%;
}
.s-name {
  width: 50%;
}
.s-price {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.s-price span {
  font-size: 1vw;
}
.total {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 10vmin;
  padding: 15px;
}
.tot {
  width: 70%;
  text-align: end;
  font-size: 3vw;
}
.total-price {
  width: 30%;
  font-size: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 700;
}
.book {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1%;
  border: 1px solid grey;
  padding: 10px;
  border-radius: 20px;
}
.book h3 {
  width: 100%;
  font-size: 2.5vw;
}
.emailid {
  width: 100%;
}
.fullname,
.number {
  width: 48%;
}
.order {
  width: 70%;
  height: 8vmin;
  background-color: #37718E;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 2.5vw;
  margin-top: 5px;
  cursor: pointer;
}
.book input {
  width: 100%;
  height: 5vmin;
  border-radius: 20px;
  outline: none;
  text-indent: 10px;
  border: 1px solid grey;
  background-color: transparent;
}
.book label {
  text-indent: 10px;
}
.quality-description {
  height: 35vh;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 30px;
}
.description {
  border: 2px solid grey;
  border-radius: 20px;
  margin-top: 5px;
  width: 23%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.description h3 {
  width: 100%;
  text-align: center;
}
.description p {
  text-align: center;
}
.newsletter {
  height: 30vmin;
  margin-top: 5px;
  background-color: #90C2E7;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter h1 {
  width: 35%;
  font-size: 3.5vw;
}
.news {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.news input {
  width: 48%;
  height: 8vmin;
  border-radius: 20px;
  font-size: 2vw;
  text-indent: 10px;
  border: 1px solid #fff;
  background: none;
  color: #fff;
}
.news button {
  width: 45%;
  height: 8vmin;
  border-radius: 20px;
  font-size: 2vw;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}
footer {
  height: 30vmin;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
footer div {
  height: 100%;
  width: 23%;
  padding: 3%;
  
}
.imp-link ul {
  list-style: none;
}
.social div {
  width: min-content;
  height: max-content;
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 770px) {

  main {
    margin-top: 12%;
    height: 30%;
  }

  .book-now {
    height: 8vmin;
    font-size: 2vw;
    width: 22vw;
  }
 
  .index,
  .cart,
  .total,
  .book {
    width: 100%;
  }
  .book h3{
    font-size: 3vw;
  }
  .services-name div{
    font-size: 2vw;
  }

  .achievement {
    font-size: 2.5vw;
  }
  .quality-description {
    height: max-content;
  }
  .description {
    width: 24%;
  }
  .newsletter {
    height: 25vmin;
  }
  footer {
    height: 30vmin;
  }
}
@media (max-width: 430px) {
  .side-link {
    font-size: 4vw;
    margin-top: 10%;
    width: 100%;
  }

  nav a:first-child {
    width: 50vw;
    font-size: 5vw;
  }
  .username {
    font-size: 3.5vw;
    width: 15vw;
  }
  .links {
    display: none;
  }
  .nav-link li {
    font-size: 3vw;
    color: #fff;
  }
  .menu-button,
  .close-button {
    display: block;
    padding: 20px;
  }
  .sidebar {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: rgba(0, 0, 0, 0.432);
    backdrop-filter: blur(10px);
    color: #fff;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 250px;
    z-index: 10;
    transition: 750ms ease-in-out;
  }
  .sidebar a {
    color: #fff;
  }

  .close-button {
    margin-left: auto;
  }
  #side-check:checked ~ .sidebar {
    right: 0;
  }
  #side-check:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
  
  main {
    margin-top: 18%;
    height: 50vmin;
  } 
  .hero-img{
    background-position: center;

  }
  .qoute-1 {
    font-size: 4.5vw;
    margin-top: 0;
  }
  .quote-3 {
    font-size: 2vw;
  }
  .book-now {
    width: 28vmin;
    font-size: 2.2vw;
  }
  .services {
    flex-direction: column;
    height: 102vh;
  }
  .service-list {
    width: 100%;
  }
  .service-list h1 {
    font-size: 7vw;
  }
  .name {
    font-size: 2.7vw;
  }
  .services-name div {
    font-size: 2.5vw;
  }
  .add {
    font-size: 2.5vw;
    padding: 0;
  }
  .cart-view {
    margin-top: 10px;
    padding: 0;
    width: 100%;
  }
  .total {
    height: 12vmin;
  }
  .tot {
    font-size: 7vw;
  }
  .total-price {
    font-size: 5vw;
  }

  .book h3 {
    font-size: 5vw;
  }
  .book label {
    height: 15vmin;
  }
  .book input {
    height: 8vmin;
  }
  .book button {
    height: 10vmin;
    font-size: 4vw;
  }
  .quality-description {
    height: max-content;
    gap: 1%;
  }
  .achievement {
    font-size: 2.5vw;
  }
  .s-price span {
    font-size: 3vw;
  }
  .description {
    width: 48%;
    padding: 5px;
  }
  .news input,
  .news button {
    height: 6vmin;
  }
  footer {
    height: max-content;
    padding: 10px;
  }
  footer div {
    width: 50%;
  }
}
