* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
div {
  height: 28vmin;
  width: 28vmin;
  margin-left: 10%;
  border-radius: 50%;
  background-color: #cc0;
  display: flex;
  overflow: hidden;
  animation: slide 2s linear 1s infinite;

  &:before,
  &:after {
    content: "";
    border: 8px solid #fff;
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 50%;
  }
  &:after {
    left: 15%;
  }
  &:before {
    right: 15%;
  }
}
@keyframes slide {
  0% {
    transform: translate(0) rotate(0);
  }
  50% {
    transform: translate(1000px, 0) rotate(360deg);
  }
  100% {
    transform: translate(0) rotate(720deg);
  }
}
